<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h2>Hello <%= user.username %>; Email: <%= user.email %></h2>
  <h2>Today is <%= today %></h2>
</body>

</html>